Package: edo365mail
Version: 0.1.0
Section: network
Priority: optional
Maintainer: Benjamin Benno Falkner <benno.falkner@gmail.com>
Homepage: http://http://deb.edo365.de/
Architecture: all
Depends: ufw, openssl, postfix
Description: Install a mail system

