Package: erl
Version: 0.1.0
Section: dev
Priority: optional
Maintainer: Benjamin Benno Falkner <benno.falkner@gmail.com>
Homepage: http://http://deb.edo365.de/
Architecture: all
Depends: wget, gcc, build-essential, erlang-solutions, erlang, elixir
Description: prepare erlang installation
