Package: vscode
Version: 0.1.0
Section: dev
Priority: optional
Maintainer: Benjamin Benno Falkner <benno.falkner@gmail.com>
Homepage: http://http://deb.edo365.de/
Architecture: all
Depends: software-properties-common, apt-transport-https, wget
Description: Visual Studio Code
