Package: edo365http
Version: 0.1.0
Section: network
Priority: optional
Maintainer: Benjamin Benno Falkner <benno.falkner@gmail.com>
Homepage: http://http://deb.edo365.de/
Architecture: all
Depends: ufw, openssl, nginx, python-certbot-nginx, software-properties-common,ed
Description: Install nginx environment
