html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#headline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56pt;
  line-height: 56pt;
  background-color: rgb(195, 0, 14);
}

#headline h1 { margin:0; }
#headline img { height: 56pt; }

#content {
  position: absolute;
  top: 56pt;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: justify;
}